Repository kubeovn/kube-ovn, pull requests merged in 2024-10, with the labels that each got.

#4570 ci: set trivy db repository to public.ecr.aws/aquasecurity/trivy-db:2
  .github/workflows/build-arm64-image.yaml
  .github/workflows/build-kube-ovn-base.yaml
  .github/workflows/build-x86-image.yaml
  Makefile
  dist/images/Dockerfile.base
Labels: ci, need backport, size:S

#4572 ci: bump cilium, multus-cni, cert-manager and submariner
  .github/workflows/build-x86-image.yaml
  Makefile
  dist/images/Dockerfile.base
  dist/images/go-deps/download-go-deps.sh
Labels: ci, size:S, lgtm

#4579 fix: fix slice init length
  test/e2e/kube-ovn/pod/pod_routes.go
Labels: test, go, size:XS, lgtm

#4575 Add genev_sys_6081 to cilium devices
  Makefile
Labels: need backport, size:XS, lgtm

#4568 add values for OVSDB_CON_TIMEOUT and OVSDB_INACTIVITY_TIMEOUT
  charts/kube-ovn/templates/controller-deploy.yaml
  charts/kube-ovn/values.yaml
  dist/images/install.sh
Labels: chart, size:XS, lgtm

#4586 fix: test_list_chassis_with_no_entries
  pkg/ovs/ovn-sb-chassis_test.go
Labels: test, size:XS, lgtm

#4585 Fix error log not printed nearby in ipam package
  pkg/ipam/ip_range_list.go
  pkg/ipam/subnet.go
Labels: bug, go, size:S, lgtm

#4574 Fix error log not printed nearby in util package
  pkg/util/arp.go
  pkg/util/k8s.go
  pkg/util/link.go
  pkg/util/net.go
  pkg/util/network_windows.go
  pkg/util/patch.go
  pkg/util/validator.go
Labels: bug, go, size:M, lgtm

#4584 bump go to 1.22.8
  dist/images/Dockerfile.base
  go.mod
  test/anp/go.mod
Labels: need backport, go, size:XS, lgtm

#4589 add: fail case ut
  pkg/ovs/ovn-nb-bfd_test.go
  pkg/ovs/ovn-nb-suite_test.go
Labels: test, size:L, lgtm

#4594 chart: add missing sa imagePullSecrets
  charts/kube-ovn/templates/ovn-sa.yaml
Labels: need backport, chart, size:S, lgtm

#4593 ut: add ovn ic
  pkg/ovs/ovn-ic-nbctl_test.go
  pkg/ovs/ovn-ic-sbctl_test.go
  pkg/ovs/ovn-nb-suite_test.go
Labels: test, size:L, lgtm

#4435 cni: always enable ipv6
  cmd/cni/cni.go
  cmd/cni/sysctl.go
  cmd/cni/sysctl_windows.go
Labels: bug, need backport, go, size:M, lgtm

#4595 chart: fix value of env OVN_DB_IPS
  charts/kube-ovn/templates/ic-controller-deploy.yaml
  charts/kube-ovn/values.yaml
Labels: need backport, chart, size:XS, lgtm

#4597 fix: dns overwrites dhcp when enabling dhcp and setting dhcp options at the same time
  pkg/ovs/ovn-nb-dhcp_options.go
  pkg/ovs/ovn-nb-dhcp_options_test.go
  pkg/ovs/util.go
  pkg/ovs/util_test.go
Labels: bug, test, need backport, size:L, lgtm

#4600 fix logging
  pkg/util/net.go
Labels: go, size:XS, lgtm

#4601 vsctl ut
  pkg/ovs/ovn-nb-suite_test.go
  pkg/ovs/ovs-vsctl_linux.go
  pkg/ovs/ovs-vsctl_linux_test.go
Labels: test, go, size:L, lgtm

#4606 fix: sb ut failed
  pkg/ovs/ovn-sb-chassis_test.go
Labels: test, size:XS, lgtm

#4602 Add unit test in pkg/ovs/ovn-nb-logical_switch_port.go
  pkg/ovs/ovn-nb-logical_switch_port_test.go
  pkg/ovs/ovn-nb-suite_test.go
Labels: test, size:L, lgtm

#4599 libovsdb: improve performance for listing logical router policies
  pkg/ovs/ovn-nb-logical_router_policy.go
Labels: performance, size:S, lgtm

#4603 fix memory overflow, add mac_binding related options to router
  mocks/pkg/ovs/interface.go
  pkg/controller/init.go
  pkg/controller/vpc.go
  pkg/ovs/interface.go
Labels: bug, size:M, lgtm

#4609 fix: ut
  pkg/ovs/ovn-sb-chassis_test.go
Labels: test, size:M, lgtm

#4612 fix memory overflow, add mac_binding related options to router
  pkg/controller/init.go
  pkg/controller/vpc.go
  pkg/ovs/ovn-nbctl-legacy.go
Labels: bug, feature, size:S

#4610 fix memory overflow, add mac_binding related options to router
  pkg/controller/init.go
  pkg/controller/vpc.go
  pkg/ovs/ovn-nbctl-legacy.go
Labels: bug, feature, size:S

#4613 fix permission issue in kube-ovn installation script and chart
  charts/kube-ovn/templates/ovncni-ds.yaml
  dist/images/install.sh
Labels: bug, chart, size:S, lgtm

#4614 fix: ut dial tcp longer
  pkg/util/k8s_test.go
Labels: test, size:XS, lgtm

#4624 ovn-ic: do not restart ovn-controller
  pkg/daemon/gateway.go
Labels: size:XS, lgtm

#4412 bump go to 1.23.2
  .github/workflows/build-x86-image.yaml
  Makefile
  dist/images/Dockerfile.base
  go.mod
  go.sum
  hack/update-codegen-docker.sh
  test/anp/go.mod
Labels: go, github_actions, size:M, lgtm

#4627 team device not set NetworkManager unmanaged
  pkg/daemon/nm_linux.go
Labels: bug, need backport, size:S, lgtm

#4623 fix: once ovn-encap-csum is set false,it can't be reset to true
  pkg/daemon/config.go
Labels: bug, size:S, lgtm

#4629 team device not set unmanage
  pkg/daemon/nm_linux.go
Labels: size:S

#4626 Refactor network policy matching logic
  pkg/controller/network_policy.go
Labels: performance, network policy, size:S, lgtm

#4632 bump go.uber.org/mock to v0.5.0
  go.mod
  go.sum
  mocks/pkg/ovs/interface.go
Labels: dependencies, go, size:L, lgtm

#4625 Add ut for ovn-nb-logical_switch_port.go date 24.10.16pm
  pkg/ovs/ovn-nb-logical_switch_port_test.go
  pkg/ovs/ovn-nb-suite_test.go
Labels: test, size:XL, lgtm

#4635 Fix accidental logical switch name conflict in ovn-nb-logical_switch_…
  pkg/ovs/ovn-nb-logical_switch_port_test.go
Labels: test, size:S

#4592 fix: CreateGatewayACL creates duplicate ndACL
  pkg/ovs/ovn-nb-acl.go
  pkg/ovs/ovn-nb-acl_test.go
  pkg/ovs/ovn-nb-suite_test.go
Labels: bug, test, size:L, lgtm

#4637 chart: fix missing CRD properties
  charts/kube-ovn/templates/kube-ovn-crd.yaml
  dist/images/install.sh
Labels: chart, size:XS, lgtm

#4636 fix 'invalid memory address or nil pointer dereference' for namespace
  pkg/controller/subnet.go
Labels: bug, go, size:XS, lgtm

#4638 use ovn-appctl for ovn components
  dist/images/db_autocheck_script.sh
  dist/images/kubectl-ko
  dist/images/logrotate/ovn
  dist/images/ovn-ic-healthcheck.sh
  dist/images/ovn-is-leader.sh
  dist/images/ovs-healthcheck.sh
  dist/images/start-db.sh
  pkg/ovn_leader_checker/ovn.go
  pkg/ovnmonitor/util.go
Labels: size:M, lgtm

#4630 ut: fail fast
  Makefile
  pkg/ovs/ovn-nb-suite_test.go
Labels: test, size:S, lgtm

#4611 add ovs vsctl , gw chassis, lb healthcheck ut
  pkg/ovs/ovn-nb-gateway_chassis_test.go
  pkg/ovs/ovn-nb-load_balancer_test.go
  pkg/ovs/ovn-nb-suite_test.go
  pkg/ovs/ovs-vsctl_test.go
Labels: test, size:L, lgtm

#4642 add e2e test for accessing nodeport when ovs/ovn component is down
  Makefile.e2e
  go.mod
  go.sum
  test/e2e/connectivity/e2e_test.go
  test/e2e/framework/daemonset.go
  test/e2e/framework/deployment.go
  test/e2e/framework/http/http.go
  test/e2e/framework/namespace.go
  test/e2e/framework/rpc/client.go
  test/e2e/framework/rpc/server.go
  test/e2e/framework/service.go
Labels: test, size:XL, lgtm

#4639 fix: udp bad checksum on VXLAN interface
  dist/images/uninstall.sh
  pkg/daemon/gateway_linux.go
Labels: bug, size:XS, lgtm

#4647 fix: bfd should use multi arch
  dist/images/Dockerfile.base
Labels: bug, size:XS, lgtm

#4649 ci: ignore ovn vpc-nat-gw conformance e2e test
  .github/workflows/build-x86-image.yaml
Labels: size:XS

#4646 ut: add unit for ovn-nb-load_balancer
  pkg/ipam/ip_range_list_test.go
  pkg/ipam/ip_range_test.go
  pkg/ovs/ovn-nb-load_balancer_health_check_test.go
  pkg/ovs/ovn-nb-load_balancer_test.go
  pkg/ovs/ovn-nb-suite_test.go
Labels: test, size:L, lgtm

#4644 ut: add logical_switch and port
  pkg/ovs/ovn-nb-logical_switch.go
  pkg/ovs/ovn-nb-logical_switch_port.go
  pkg/ovs/ovn-nb-logical_switch_port_test.go
  pkg/ovs/ovn-nb-logical_switch_test.go
  pkg/ovs/ovn-nb-suite_test.go
Labels: test, size:L, lgtm

#4656 makefile: remove target kind-install-debug
  Makefile
Labels: size:XS, lgtm

#4662 base: fix ovn patch for setting ether dst addr after dnat
  dist/images/Dockerfile.base
Labels: bug, size:XS, lgtm

#4651 add ut for ovn-nb-logical_router_port
  pkg/ovs/ovn-nb-logical_router_port_test.go
  pkg/ovs/ovn-nb-suite_test.go
  pkg/ovs/ovn-sb-chassis.go
Labels: test, size:L, lgtm

#4659 ut: add unit test for net.go
  pkg/util/arp_test.go
  pkg/util/k8s_test.go
  pkg/util/net_test.go
Labels: test, size:M, lgtm

#4650 ut: add ovn nat
  pkg/ovs/ovn-nb-nat.go
  pkg/ovs/ovn-nb-nat_test.go
  pkg/ovs/ovn-nb-suite_test.go
Labels: test, size:L, lgtm

#4664 add unit test for ovn-nb-nat.go
  pkg/ovs/ovn-nb-nat_test.go
  pkg/ovs/ovn-nb-suite_test.go
Labels: test, size:L, lgtm

#4668 ci: fix kube-ovn-base build failed for 1.12-mc
  dist/images/Dockerfile.base
  dist/images/Dockerfile.base-dpdk
Labels: ci, size:M

#4669 ci: fix mc legacy failed
  Makefile
Labels: ci, size:XS

#4672 ut: add unit for ovn-nb-logical_router_route.go
  pkg/ovs/ovn-nb-logical_router_route_test.go
  pkg/ovs/ovn-nb-suite_test.go
Labels: test, size:L, lgtm

#4671 ut: add ovs and ovn nb and cidr check
  pkg/ovs/ovn-nb-acl.go
  pkg/ovs/ovn-nb-logical_switch_port_test.go
  pkg/ovs/ovn-nb-nat_test.go
  pkg/ovs/ovn-nb-port_group.go
  pkg/ovs/ovn-nb-suite_test.go
  pkg/ovs/ovn-nb_global.go
  pkg/ovs/ovn-nb_global_test.go
  pkg/ovs/ovn-nb_test.go
  pkg/ovs/ovn-sb-chassis_test.go
  pkg/ovs/ovs-vsctl.go
  pkg/ovs/ovs-vsctl_test.go
  pkg/ovs/util.go
  pkg/util/net_test.go
Labels: test, size:L, lgtm

#4665 add e2e for subnet with namespaceSelector
  test/e2e/framework/namespace.go
  test/e2e/framework/subnet.go
  test/e2e/kube-ovn/subnet/subnet-selectors.go
Labels: test, size:L, lgtm

#4674 add ut for subnet.go and ovn-nb-acl.go
  pkg/ipam/subnet.go
  pkg/ipam/subnet_test.go
  pkg/ovs/ovn-nb-acl_test.go
Labels: test, size:L, lgtm

#4673 fix: cache eip should not update
  pkg/controller/ovn_eip.go
Labels: bug, size:XS, lgtm

#4683 base: compile OpenBFDD locally
  dist/images/Dockerfile.base
  dist/images/OpenBFDD-compile.patch
Labels: size:M, lgtm

#4685 add fail nb client ut case in ovn-nb-logical_switch_port_test.go
  pkg/ovs/ovn-nb-logical_switch_port_test.go
Labels: test, size:M, lgtm
